li{
	list-style: none;
}
ul{
	padding-left:0px;
}
.container_new{
	width:1000px;
	margin:auto;
	margin-top:10px;
}

#general_hw {
	position: relative;
	width: 1000px;
	margin: auto;
	top: 50px;
	padding: 20px;
	/*border: 1px dotted rgba(192, 197, 198, 0.5);*/
}

.left-bar{
	float:left;
	width:250px;
	background-color: #f1f1f1;
	padding:10px 15px;
	margin-top:10px;
	border-radius: 10px;
	height:544px;
	overflow-y: scroll;
}

.left-bar-title{
	color:#acaba9;
	font-size:16px;
	margin-bottom:20px;

} 

.exercise_board{
	margin-top:10px;
}
.exercise_title{
	color:#489e9d;
	margin-bottom:10px;
}
.exercise_list li{
	margin-top:4px;
	height:50px;
}
.exercise_list li .exercise_li_left{
	width:30px;
	height:50px;
	position:relative;
	float:left;
	background-color: #d2dfe8;
}
.exercise_list li .exercise_li_left div{
	text-align: center;
	line-height:17px;
	font-size: 12px;
}
.exercise_list li .exercise_li_left .exercise_add,.exercise_min{
	background: #b5b5b5;
	color:white;
}
.exercise_list li .exercise_li_left .exercise_add{
	border-radius:5px 0 0 0;
}
.exercise_list li .exercise_li_left .exercise_min{
	border-radius:0px 0 0 5px;
}
.exercise_list li .exercise_li_right{
	background-color: white;
	border-radius: 0 5px 5px 0;
	height:50px;
	padding-left:36px;
	padding-top:3px;
	padding-bottom:3px;
	color:#857b6f;
	padding-right: 24px;
}
.exercise_li_right div{
	position: relative;
}    
.exercise_li_right div span{
	position: absolute;
    right: -17px;
    top: 14px;
}    
.close_new {
    /* still bad on picking color */
    background: #cccccc;
    color: white;
    /* make a round button */
    border-radius: 12px;
    /* center text */
    line-height: 12px;
    text-align: center;
    height: 16px;
    width: 16px;
    font-size: 12px;
    padding: 1px;
}
.close_new:hover{
	background: #f37c7e;
}
/* use cross as close button */
.close_new::before {
    content: "\00D7";
}



.right-bar{
    float: left;
    width: 820px;
    padding-left: 30px;
    position: relative;
}

#nav_div{
	float: left;
	position: relative;
	margin-top: 100px;
}

#nav_div ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 1em;
	text-align: center;
}
#nav_div ul li{
	/*font-size: 1em;*/
	color: gray;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	letter-spacing: 0.5em;
	margin-bottom: 2em;
}

#nav_div ul li:after{
	content: "";
	position: absolute;
	left: -0.25em;
	width: 0;
	height: 0;
	margin-top: 1em;
	border: 0 solid transparent;
	border-width: 2px 0.75em;
	border-color: #CECECE;
}
#nav_div ul li.last:after{
	content: "";
	position: absolute;
	left: 0.25em;
	width: 0;
	height: 0;
	margin-top: 1em;
	border: 0 solid transparent;
	border-width: 2px 0.75em;
	border-color: 0 !important;
}

#nav_div a{
	text-decoration: none;
	color: gray;
	cursor: default;
}

.choose_list{
	padding-left: 35px;
	width: 100%;
}

.right-bar h3{
	color: #43BECD;
	font-size: 2em;
}

.search_div{
	border-radius: 2px;
	border-color: gray;
}

.search_div input{
	padding: 2px 0.5em;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid #acaba9;

}

.search_div button{
	position: absolute;
	color: white;
	width: 5em;
	margin-left: -1px;
	padding: 3px 1em;
	background-color: #43BECD;
	border: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.choose_list {
	padding-top: 20px;
}

.choose_list ul{
	padding-left: 0;
	display: block;
}

.choose_list li{
	display: block;
}

.choose_list h4{
	display: inline-block;
	background-color: #D1E0E7;
	width: 100%;
	padding: 7px 10px;
	margin: 10px 0 15px 0;
	border-radius: 5px;
}

.type_list h5{
	display: inline-block;
	font-size: 1em;
	margin: 0px 0 20px 0;
}

.type_list .question_list{
	margin-bottom: 20px;
}

.choose_list > ul > li > ul{
	padding-left: 8px;
}

.question_list{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.question_list li{
	width: 32.5%;
	border-radius: 5px;
	padding: 5px 12px;
	display: inline-block;
	margin: 0px 3px 9px 0px;
	background-color: #F1F1F1;
}

.article-table th{
	border: none !important;
	vertical-align: middle !important;
}

.div-article-main{
	overflow-y: scroll;
	height: 700px;
}

.article-tbody th{
	background-color: rgb(242,242,242);
}

.article-thead th{
	background-color: rgb(229,229,229);
}

.article-detail{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.article-row>th:first-child,
.article-thead>tr>th:first-child{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.article-table{
	border-spacing: 0 5px;
    border-collapse: separate;
}

.article-row>th>i{
	font-size: 30px;
}

i.fa-circle.fa-stack-2x{
	color: rgb(214,214,214);
}
i.fa-circle.fa-stack-1x{
	color: white;
	font-size: 21px;
}

.article-row-selected th{
	background-color: rgb(127,230,203) !important;
}

.article-row-selected .fa-stack-2x{
	color: rgb(0,204,153) !important;
}

.article-row-selected .fa-stack-1x{
	color: white !important;
}

.article-table .btn{
	padding: 1px 6px !important;
}

.article-row-selected
{
	color: white;
}