body {
	font-family: "Microsoft Yahei" !important;
	font-size: 16px !important;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	text-decoration: none;
}

.fa{
	font-family: 'FontAwesome' !important;
}

.fa-stack {
	font-size: 0.8em;
}

.container{
	width:1170px;
	margin:auto;
	position: relative;
	padding: 20px 0 0;
}

#choose_hw_div {
	position: relative;
	padding: 50px 80px 50px 0;
	padding-top: 50px;
	padding-left: 80px;
}

.book_cover {
	width: 200px;
	height: 200px;
	position: relative;
	border: 1px dotted rgb(192, 197, 198);
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.book_title {
	color: #5E5B5B;
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 20px;
}

.book_title .book_ver {
	display: block;
	color: #56BDCA;
	margin-top: 10px;
}

#change_book_btn {
	background-color: #979797;
	color: white;
	font-size: 1.25em;
	width: 100px;
	height: 35px;
	border: 0;
	border-radius: 12px;
}

.unit_hw {
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;

}

.unit_hw ul {
	padding-left: 20px;
}

.unit_hw li {
	margin-bottom: 10px;
	padding: 5px;
	width: 500px;
	background-color: #E7E7E7;
	border-radius: 5px;
	text-align: left;
	transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    -moz-transition: background-colo 200ms ease;
	-webkit-transition: background-color 200ms ease;
}

.unit_hw li .fa-square{
	color: white;
}

.unit_hw li .fa-check{
	color: #47DBB8;
}

.unit_hw li span {
	margin-left: 5px;
	margin-right: 8px;
}

.unit_hw li:hover {
	background-color: rgba(71, 219, 184, 0.57);
}

.div-book{
	margin: 5% auto;
	width: 100% !important;
	text-align: center;
}

.modal-ctrl{
	margin: 2% auto;
	width: 100%;
	text-align: center;
}

.modal-ctrl>button{
	font-size: 19px !important;
	margin: 3% 3%;
	width: 10%;
	height: 60%;
}

.modal-dialog{
	margin: 8% auto !important;
	width: 50% !important;
}

.modal-content{
	border-radius: 20px !important;
}

.btn-book{
	padding: 20px 15px !important;
	font-size: 20px !important;
	margin: 3% 1%;
}

.btn-default{
	background-color: #E7E7E7 !important;
}

span.book-subtitle{
	font-size: 30px;
	margin: 2% auto;
}

.footer_div {
	width: 100%;
	position: relative;
	padding: 20px 0;
	bottom: -10px;
	border-radius: 10px;
	background-color: #E7E7E7;
	text-align: center;
	float: left;
}

.footer_div button {
	font-size: 1.2em;
	color: white;
	background-color: #44BFCD;
	min-width: 150px;
	border: 0;
	line-height: 45px;
	border-radius: 10px;
	margin: auto 25px;
	letter-spacing: 2px;
    padding: 0px 20px;
}

.footer_div button span {
	font-size: 1.5em;
	font-weight: bold;
}