.select_radio{
	position:absolute;
	left:10px;
	top:10px;
}
#select_form .question_content{
	padding-left:40px;
}
#select_rightbar{
	width:920px;
	margin-left:60px;
	border: solid 1px #e6e4e5;
	margin-top:10px;
	padding-left:0px;
	-webkit-box-shadow: -3px -3px 5px #ececec;
	-moz-box-shadow: -3px -3px 5px #ececec;
	box-shadow: -3px -3px 5px #ececec;
}
#select_rightbar>.select_padding_fix{
	padding-left:25px;
	padding-top:10px;
	height:100%;
}

#select_rightbar h3{
	margin-bottom:20px;
}

#select_rightbar .footer_div{
	margin-top:-10px;
	border-radius:0px;
	border: solid 1px #e6e4e5;
	-webkit-box-shadow: -3px 0px 5px #ececec;
	-moz-box-shadow: -3px 0px 5px #ececec;
	box-shadow: -3px 0px 5px #ececec;
}
#select_rightbar .footer_div button:nth-child(2){
	color: #44BFCD;
    background-color: #eaeff3;
}

#select_rightbar .scroll-container{
	height:570px;
}
.choice{
	margin-bottom:10px;
}

.replace_selected{
	background-color:#d1f2e9;
	border:solid 2px #84c2b3;
}
